.contact {
  padding: 7em 0;
}

.contact .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: aqua; */
}
@media print {
  .contact .container {
    min-width: 992px !important;
  }
}
@media (min-width: 576px) {
  .contact .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .contact .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .contact .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .contact .container {
    max-width: 1140px;
  }
}

/****/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
