.card-wrapper {
  display: inline-block;
  perspective: 1000px;
}
.card-wrapper .card {
  position: relative;
  cursor: pointer;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}
.card-wrapper .card .front,
.card-wrapper .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  padding: 0 10px;
}
.card-wrapper .card .front {
  z-index: 2;
}
.card-wrapper .card .back,
.card-wrapper.flip-right .card .back {
  transform: rotateY(180deg);
}
.card-wrapper:hover .card,
.card-wrapper.flip-right:hover .card {
  transform: rotateY(180deg);
}

.card-wrapper,
.card {
  width: 250px;
  height: 200px;
  margin: 10px;
}
.card .front,
.card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #216dca; */
  border-radius: 4px;
}
.card .front {
  color: #032f64;
  background: #d6e4f4;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;

}
.card .back {
  font-size: 16px;
  color: #0f3869;
  background: #d6e4f4;
}
