/* .pres {
  width: 50%;
  margin-left: 25%;
}
p {
  font-family: system-ui;
  color: #191970;
  text-align: left;
  text-align: justify;
}

#move-up:hover {
  background-color: #b0c4de;

  transition: all 0.5s;
  transform: translateY(-10px);
} */
