body {
  margin: 0;
}
.desc {
  text-align: justify;
  line-height: 1.6;
}

h1 {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  /* margin: 0; */
}

h2 {
  margin: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Trocchi", serif;
  letter-spacing: 0.2rem;
  color: #1b477e;
}
.date {
  color: #bbc3c8;
  background: #292929;
  display: inline-block;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 20px 18px;
  padding: 10px 12px 8px;
  position: absolute;
  bottom: -36px;
}
.shadow {
  -webkit-box-shadow: 5px 5px 0px 0px #84ace4ad, 10px 10px 0px 0px #d6e4f4,
    27px 7px 15px -5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #84ace4ad, 10px 10px 0px 0px #d6e4f4,
    27px 7px 15px -5px rgba(0, 0, 0, 0);
}
.shadow-2 {
  -webkit-box-shadow: 6px 5px 26px -7px #464ca9;
  box-shadow: 6px 5px 26px -7px #464ca9;
}

.sb {
  float: left;
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
}
.section-break-5 {
  background-color: transparent;
  border: 0;
  border-top: 1px solid rgb(200, 200, 200);
  display: block;
  height: 0;
  /* margin: 3rem auto 3rem; */
  text-align: center;
  width: 80%;
}
.section-break-5 :before {
  background-color: snow;
  color: darken(rgb(200, 200, 200), 20%);
  content: "j";
  display: inline-block;
  font-size: 1.6rem;
  left: 50%;
  letter-spacing: 0;
  line-height: 1.6rem;
  text-indent: 0;
  text-rendering: geometricPrecision;
  transform: translateY(-65%);
  width: 15px;
}
